# Unicorn Studio
NEXT_PUBLIC_UNICORN_STUDIO_SDK_URL=https://cdn.jsdelivr.net/gh/hiunicornstudio/unicornstudio.js@2.1.12/dist/unicornStudio.umd.js
NEXT_PUBLIC_UNICORN_PROJECT_ID=YDOiMnYpNLZWBOx4H6IL

# Portfolio Contact
NEXT_PUBLIC_CONTACT_EMAIL=yahya.laadam@gmail.com

# Analytics (optional)
# NEXT_PUBLIC_GA_ID=

# API Endpoints (optional)
# NEXT_PUBLIC_API_URL=http://localhost:3000/api
